---
layout: default
---

<header class="page-secondary-header">
  <div class="inner-wrapper">
    <h2>全部文章</h2>
    <span>
      <a class="btn btn-green btn-has-icon" href="{{ "/feed.xml" | relative_url }}"><span class="icon icon-rss">{% include icon-rss.svg %}</span><span>RSS Subscription</span></a>
    </span>
  </div>
</header>

<section class="page-content page-articles">
  <div class="inner-wrapper">
    <section class="articles-left-panel">
      <ul class="articles-list">
        {% for post in site.posts %}
          <li data-post-uri="{{ post.url | relative_url }}">
            <p class="articles-list-item-title">
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </p>
            <p class="articles-list-item-datetime">
              <span>{{ post.date | date: "%F %T" }}</span>
            </p>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>

<script type="text/javascript">
  (function () {
    var elLists = document.querySelectorAll(".articles-list li");
    var len = elLists.length;

    for (var i = 0; i < len; i++) {
      elLists[i].onclick = (function (i) {
        return function (event) {
          location.href = this.dataset.postUri;
        };
      })(i);
    }
  })();
</script>