---
layout:   page
nav:      "home"
---

<section class="hero-section">
  <div class="inner-wrapper">
    <div class="hero-section-content">
      <div class="hero-section-content-text">
        <h2>Go 语言教程</h2>
        <p class="hero-section-subtitle">汇集开源社区智慧，致力于<br />普及 Go 语言的传播和应用。</p>
        <p class="hero-section-links">
          <a class="btn" href="{{ "/tutorials-fundamental" | relative_url }}">入门教程</a>
          <a class="btn" href="{{ "/tutorials-advanced" | relative_url }}">进阶指南</a>
          <a class="btn" href="{{ "/tutorials-practice" | relative_url }}">实践参考</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="home-books-section">
  <div class="inner-wrapper">
    <div class="home-books-section-content">
      <div class="home-books-section-content-text">
        <h2>推荐书籍</h2>
        <p class="home-books-section-subtitle">广受推崇的 Go 语言书籍，适合所有层次的开发者阅读。</p>
        <p class="home-books-section-link">
          <a class="btn btn-green" href="{{ "/books" | relative_url }}">查看全部</a>
        </p>
      </div>
    </div>
  </div>
</section>