<header class="page-header">
  <div class="inner-wrapper">
    <h1>
      <a href="{{ "/" | relative_url }}">GoCN Education</a>
    </h1>
    <nav>
      <ul>
      {% for nav in site.navs %}
        <li>
        {% if nav.slug == page.nav || nav.slug == layout.nav %}
          <a href="{{ nav.permalink }}" class="active">{{ nav.text }}</a>
        {% else %}
          <a href="{{ nav.permalink }}">{{ nav.text }}</a>
        {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
  </div>
</header>