@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Light.ttf");
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Normal.ttf");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Regular.ttf");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Source Han Sans SC";
  src: url("/assets/fonts/SourceHanSansSC-Medium.ttf");
  font-style: normal;
  font-weight: 500; }
.btn {
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.15s linear; }

.btn:hover {
  background-color: #3f937d; }

.btn-green {
  color: #0b7a5f;
  border-color: #0b7a5f; }

.btn-green:hover {
  background-color: #cce3de; }

.hero-section {
  position: relative;
  width: 100%;
  height: calc(100% - 64px);
  min-height: 480px;
  background-color: #0b7a5f; }

.hero-section-content {
  height: 100%;
  position: relative;
  background-image: url("/assets/hero-section-background.png");
  background-repeat: no-repeat;
  background-size: 329px;
  background-position: 160px center; }

.hero-section-content-text {
  position: absolute;
  top: calc(50% - 136px);
  right: 160px; }

.hero-section h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1.6px; }

.hero-section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  color: #a0c9bf;
  font-size: 20px;
  line-height: 48px;
  font-weight: 400; }

.hero-section-links {
  margin-top: 48px; }

.hero-section-links .btn {
  display: block;
  float: left;
  margin-right: 16px; }

.home-books-section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-color: white; }

.home-books-section-content {
  height: 100%;
  position: relative;
  background-image: url("/assets/home-books-section-background.png");
  background-repeat: no-repeat;
  background-size: 1024px;
  background-position: center 100%; }

.home-books-section-content-text {
  position: absolute;
  width: 100%;
  top: calc(50% - 214px); }

.home-books-section h2 {
  margin: 0;
  padding: 0;
  color: #4A4A4A;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1.6px;
  text-align: center; }

.home-books-section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  color: #6d6d6d;
  font-size: 20px;
  line-height: 48px;
  font-weight: 400;
  text-align: center; }

.home-books-section-link {
  margin-top: 32px;
  text-align: center; }

.home-articles-section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-color: #eff4f3; }

.home-articles-section-content {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.home-articles-section-content-text-wrapper {
  position: relative;
  height: 100%;
  min-width: 240px;
  margin-right: 112px; }

.home-articles-section-content-text {
  position: absolute;
  top: calc(50% - 136px); }

.home-articles-section h2 {
  margin: 0;
  padding: 0;
  color: #4A4A4A;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -1.6px; }

.home-articles-section-subtitle {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  color: #6d6d6d;
  font-size: 20px;
  line-height: 48px;
  font-weight: 400; }

.home-articles-section-link {
  margin-top: 48px; }

.home-articles-section-content-list-wrapper {
  position: relative;
  height: 100%; }

.home-articles-section-list {
  position: absolute;
  top: calc(50% - 196px);
  left: 152px;
  width: 512px;
  height: 392px;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.04); }

.home-articles-section-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.home-articles-section-list li {
  border-bottom: 1px solid #ececec; }

.home-articles-section-list li:nth-child(8) {
  border-bottom: none; }

.home-articles-section-list li a {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 48px;
  height: 48px;
  background-color: white;
  text-decoration: none;
  color: #0b7a5f;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.15s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.home-articles-section-list li a:hover {
  background-color: #f5faf9; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Source Han Sans SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.page-header {
  margin: 0;
  height: 64px;
  background-color: #0b7a5f; }

.page-header h1 {
  display: block;
  width: 156px;
  height: 64px;
  margin: 0;
  padding: 0; }

.page-header h1 a {
  display: block;
  width: 156px;
  height: 64px;
  background-image: url("/assets/logo-gocn-education.png");
  background-repeat: no-repeat;
  background-size: 156px 40px;
  background-position: 0 12px;
  text-indent: -2017px;
  overflow: hidden; }

.page-header a {
  transition: all 0.15s linear; }

.page-header h1 a:hover {
  opacity: 0.7; }

.page-header nav {
  display: block;
  min-width: 480px;
  margin: 0;
  padding: 0; }

.inner-wrapper {
  width: 84%;
  height: 100%;
  margin: 0 auto;
  max-width: 1140px; }

.page-header .inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page-header nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 16px 0;
  list-style-type: none; }

.page-header nav li {
  line-height: 32px;
  margin-left: 8px; }

.page-header nav li:first-child {
  margin-left: 0; }

.page-header nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  padding: 0 16px;
  border-radius: 16px;
  text-shadow: 0px 0px 1px #888; }

.page-header nav a.active {
  background-color: #4b9a85; }

.page-header nav a:hover,
.page-header nav a:active,
.page-header nav a.active:hover,
.page-header nav a.active:active {
  background-color: #29876f; }

.page-footer {
  margin: 0;
  height: 64px;
  background-color: #f9f9f9; }

.page-footer p {
  margin: 0;
  line-height: 64px;
  height: 64px;
  font-size: 12px;
  text-align: center;
  color: #9B9B9B; }
