.btn {
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: white;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.15s linear;
}

.btn:hover {
  background-color: $green-light;
}

.btn-green {
  color: $base;
  border-color: $base;
}

.btn-green:hover {
  background-color: $green-white;
}

.btn-has-icon {
  display: flex;
  justify-content: center;
}

.btn-has-icon span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: inline-block;
  height: 16px;
}

.btn-has-icon span:first-child {
  margin-right: 8px;
}